In [2]:
import pandas as pd
pd.__version__

'0.24.2'

In [6]:
pd.Series()

Series([], dtype: float64)

In [7]:
pd.Series((1,2,3))

0    1
1    2
2    3
dtype: int64

In [8]:
pd.Series([True,'hello',1,4.5])

0     True
1    hello
2        1
3      4.5
dtype: object

In [9]:
pd.Series(

{
    'id':123,
    'name':'John',
    'age':45,
    'M':True
}

)

id       123
name    John
age       45
M       True
dtype: object

In [18]:
s=pd.Series([2,3,5,7,11],index=['A','B','C','D','E'])

In [20]:
s.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [21]:
s.shape

(5,)

In [22]:
s.dtype

dtype('int64')

In [23]:
s.size

5

In [24]:
s.empty

False

In [25]:
s.nbytes

40

In [26]:
s.ndim

1

In [30]:
s1=pd.Series([2,7,'Five',7,True],index=['A','B','C','D','E'])

In [31]:
s1.dtype

dtype('O')

In [32]:
s1.value_counts()

7       2
Five    1
2       1
True    1
dtype: int64

In [33]:
s1.unique()

array([2, 7, 'Five', True], dtype=object)