In [11]:
import pandas as pd 
import numpy as np

data={
    'name':['John','Robert','Parker','Smith','Rome'],
    'edu':['B.tech','Medicine','Law','AI','Law'],
    'percentage':[82,98,91,87,92]
}



df=pd.DataFrame(data)
df

     name       edu  percentage
0    John    B.tech          82
1  Robert  Medicine          98
2  Parker       Law          91
3   Smith        AI          87
4    Rome       Law          92

In [25]:
groupbyedu=df.groupby('edu')
p=lambda x:x-6
p1=lambda x:len(x)<= 1
#groupbyedu.transform(p)

new_data=groupbyedu.filter(p1)
new_data

     name       edu  percentage
0    John    B.tech          82
1  Robert  Medicine          98
3   Smith        AI          87